@charset "UTF-8";


/* トップ画面と検索欄を横並び*/
#right-column {
	 float: right;
 }

#right{
	 width: 33.33333333%;    
	 float: right;
 	position: relative;
	min-height: 1px;
 	padding-right: 15px;
 	padding-left: 15px;
}


/*
 *　topのメニューバー 
 */
*{
    box-sizing: border-box;
}

.menu-bar {
    width: 1080px;
    margin: 0 0;
}
.menu-lists {
    display: flex;
    
}
.menu-list {
	 list-style: none;
    margin: 0;
    padding: 0;
    width: 50%;
    height: 40px;
    background-color: #E5F0F8;
    position: relative;
    transition: all .3s;
}
.menu-list:hover {
    background-color: #0071BB;
}
.menu-list:not(:first-child)::before {
    content: "";
    width: 1px;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s;
}
.menu-list:hover::before {
    background-color: #0071BB;
}
.menu-list a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #1b4059;
    font-size: 15px;
    letter-spacing: 0.05em;
    font-weight: 600;
    transition: all .3s;
}
.menu-list:hover a {
    color: #fff;
}
.dropdown-lists {
    display: none;/*デフォルトでは非表示の状態にしておく*/
    width: 100%;
    position: absolute;
    top: 40px;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu-list:hover .dropdown-lists {
    display: block;/*Gナビメニューにホバーしたら表示*/
}
.dropdown-list {
    background-color: #004d80;
    height: 40px;
    transition: all .3s;
    position: relative;
}
.dropdown-list:not(:first-child)::before{
    content: "";
    width: 100%;
    height: 1px;
    background-color: #3492d1;
    position: absolute;
    top: 0;
    left: 0;
}
.dropdown-list:hover {
    background-color: #003558;
}
.dropdown-list a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    position: relative;
}
.dropdown-list a::before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(135deg);
    position: absolute;
    right: 15px;
    top: calc(50% - 5px);
}

/*
 *　スライドショー用
 */
 
 .slid{
	margin: 10px 90px 30px 90px;
display: inline-block;
}

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

.font {
    font-family: 'Noto Sans JP', sans-serif;
}