@charset "UTF-8";


/*フォーム全体*/
#form1{
position:relative;/*フォームの相対位置*/	
/*max-width:270px;フォームのサイズ*/
margin-bottom:65px;/*フォームの下に余白*/	 	
border:#0071BB;
}
/*検索ボックス*/
#genre{
position:absolute;/*フォームの絶対位置*/	
right:360px;
top:0; 	
outline:0;/*クリック時の青い枠線消す*/	
height:35px;/*検索ボックスの高さ*/	
padding:0 10px;/*テキスト位置調整*/	
border:none;/*検索ボタンの枠線を消す*/ 
border-radius:2px 0 0 2px;/*検索ボックスの角を丸める*/		
background:aliceblue;/*セレクトボックスの背景カラー*/		
}
#code{
width:300px;/*フォームの横幅*/ 
position:absolute;/*フォームの絶対位置*/	
top:0; 	
right:60px;
outline:0;/*クリック時の青い枠線消す*/	
height:35px;/*検索ボックスの高さ*/	
padding:0 10px;/*テキスト位置調整*/	 
border:none;/*検索ボタンの枠線を消す*/ 
border-radius:2px 0 0 2px;/*検索ボックスの角を丸める*/		
background:#eee;/*検索ボックスの背景カラー*/		
}
/*検索ボタン*/
#sbtn{
width:70px;/*検索ボタンの横幅*/ 
height:35px;/*検索ボタンの縦幅*/ 
position:absolute;/*検索ボタンの絶対位置*/  
right:0px;/*検索ボタンの位置調整*/  
top:0;
border-radius:0 2px 2px 0;/*検索ボタンの角を丸める*/ 
background:#7fbfff;/*検索ボタンの背景カラー*/ 
border:none;/*検索ボタンの枠線を消す*/ 
color:#fff;/*検索ボタンのテキストカラー*/ 
font-weight:bold;/*検索ボタンのテキスト太字*/ 
font-size:16px;/*検索ボタンのフォントサイズ*/ 
}
/*検索ボタンマウスオーバー時*/
#sbtn:hover{
color:#666;/*検索ボタンマウスオーバー時のフォントカラー*/ 
}


/*
 *　topのメニューバー 
 */
*{
    box-sizing: border-box;
}

.menu-bar {
    width: 1100px;
    margin: 0 0;
}
.menu-lists {
    display: flex;
    
}
.menu-list {
	 list-style: none;
    margin: 0;
    padding: 0;
    width: 50%;
    height: 40px;
    background-color: #E5F0F8;
    position: relative;
    transition: all .3s;
}
.menu-list:hover {
    background-color: #0071BB;
}
.menu-list:not(:first-child)::before {
    content: "";
    width: 1px;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s;
}
.menu-list:hover::before {
    background-color: #0071BB;
}
.menu-list a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #1b4059;
    font-size: 15px;
    letter-spacing: 0.05em;
    font-weight: 600;
    transition: all .3s;
}
.menu-list:hover a {
    color: #fff;
}
.dropdown-lists {
    display: none;/*デフォルトでは非表示の状態にしておく*/
    width: 100%;
    position: absolute;
    top: 40px;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu-list:hover .dropdown-lists {
    display: block;/*Gナビメニューにホバーしたら表示*/
}
.dropdown-list {
    background-color: #004d80;
    height: 40px;
    transition: all .3s;
    position: relative;
}
.dropdown-list:not(:first-child)::before{
    content: "";
    width: 100%;
    height: 1px;
    background-color: #3492d1;
    position: absolute;
    top: 0;
    left: 0;
}
.dropdown-list:hover {
    background-color: #003558;
}
.dropdown-list a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    position: relative;
}
.dropdown-list a::before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(135deg);
    position: absolute;
    right: 15px;
    top: calc(50% - 5px);
}

/*
 *　スライドショー用
 */
 
 .slid{
	margin: 10px 90px 30px 90px;
display: inline-block;
}

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

.font {
    font-family: 'Noto Sans JP', sans-serif;
}