<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>ペット用品のネット注文</title>
	
	<link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
	<link th:href="@{/css/piza.css}" rel="stylesheet" />
	<link th:href="@{/css/top.css}" rel="stylesheet" />


	
</head>

<body>
	<!-- ヘッダー/インクルード化しているので、編集する際はheader.htmlから -->
	<div th:insert="header :: frag_header"></div>
	
		<div th:insert="header :: frag_search"></div>



		<!-- フッター/インクルード化しているので、編集する際はfooter.htmlから -->
		<div th:insert="footer :: frag_footer"></div>

	</div>
	<!-- end container -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

	<script th:src="@{/js/autocomplete.js}"></script>

</body>

</html>